@import 'bootstrap/dist/css/bootstrap.min.css';

input[data-theme='dark'],
input[data-theme='dark']:focus {
  background-color: black;
  color: white;
  border-color: white;
}
input[data-theme='dark']::placeholder {
  color: white;
}

p {
  margin-bottom: 0;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
